.section4 {
    display: grid;
    align-items: center;
    width: 100%;
    height: 450px;
}
.container-fluid4 {
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.sec4 {
    display: grid;
    width: 90%;
    height: 350px; 
    margin-top: 40px;
    padding-left: 50px;
    text-align: center;
}
.sec4 > .btn {
    background: rgb(64, 89, 107);
    color: white;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.sec4 > .btn > a > span {
    color: white;
}
.sec4 > p {
    font-size: 1.2rem;
}
.sec4 > .big {
    font-size: 1.3rem;
}
footer {
    display: grid;
    align-items:center;
    width: 100%;
    height: 150px;
    text-align: center;
    background: #40596b;
    color: white;
    font-size: 0.8rem;
}
.footer > p {
    margin-bottom: 10px;
}
.top {
    background-color: #ffd05a;
    border: 0;
    border-radius: 4px;
    bottom: 1rem;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    cursor: pointer;
    overflow: hidden;
    padding: .5rem .5rem 0;
    position: fixed;
    right: 1rem;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}

@media only screen and (min-width : 320px) and (max-width : 450px) {
    .section4 {
        height: 530px;

    }
    .sec4{
        padding: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .container-fluid4{
        width: 100%;
        height: 500px;
    }
}

@media only screen and (min-width : 450px) and (max-width : 700px) {
    .section4 {
        height: 530px;
    }
    .container-fluid4{
        width: 100%;
        height: 500px;
    }

}